.hero {
    max-height: 282px;
    object-fit: contain;
}

.form-check-label {
    margin: 4px 0px
}

.form-check {
    margin: 5px 10px;
}

.block {
    color: red;
}

.block:checked {
    background-color: #dc3545;
    border-color: #dc3545;
}

.header {
    color: rgb(45, 45, 182);
}

.desc {
    color: orangered;
}

.form-check-input:checked {
    background-color: green;
    border-color: green;
}

.intro {
    margin-top: 30px;
    font-family: "Exo", sans-serif;
}

.schema {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Exo", sans-serif;
}

body {
    font-family: "Exo", sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}

.lista {
    margin-right: 10px;
}