.hero {
    max-height: 282px;
    object-fit: cover;
}

.form-check-label {
    margin: 4px 0px
}

.form-check {
    margin: 5px 10px;
}

.block {
    color: red;
}

.block:checked {
    background-color: #dc3545;
    border-color: #dc3545;
}

.header {
    color: rgb(45, 45, 182);
}

.desc {
    color: orangered;
}

.form-check-input:checked {
    background-color: green;
    border-color: green;
}